.header{
    width: 100%;
    padding: 10px 15px 0px 15px;
}
.head{
    background-color: rgb(243, 240, 240);
}
.head-h2{
    color: black;
}
.product-container .h-1{
    text-align: center;
    padding-bottom: 20px;
    margin: 0px 10%;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(243, 240, 240);
}
.s-product-container {
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 5px 3px rgb(232, 232, 232);
    height: auto;
    border: 1px solid rgb(221, 221, 221);
}
.s-product-container img {
    width: 60%;
}
.left-c{
    display: inline-block;
    width: 50%;
    text-align: center;
    border-right: 1px solid rgb(221, 221, 221);
}
.right-c{
    display: inline-block;
    width: 50%;
    padding: 10px;
}
.right-c p{
    padding: 10px 0px;
    color: rgb(143, 137, 137);
    font-size: medium;
}
@media (max-width: 700px) {
    .s-product-container{
        flex-flow: column;
    }
    .left-c,
    .right-c {
        width: 100%;
        display: block;
        border:none;
    }
}
